.container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8rem 0 8rem 0;

    .box_container {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 2rem;

        .box_text {
            width: 100%;
            font-size: 1rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            .subtitle {
                font-size: 1.2rem;
                font-weight: 400;
                margin-left: 0.1rem;
                margin-top: 4.5rem;

                .linha {
                    display: inline-block;
                    margin-left: 0.5rem;
                    margin-bottom: 0.4rem;
                    width: 2.5rem;
                    border: 1px solid #DDA827;
                }
            }

            .title {
                font-size: 2.8rem;
                line-height: 4rem;
                font-weight: 600;
            }

            .information {
                font-size: 1.4rem;
                font-weight: 400;
            }

            .text_email {
                margin-top: 3.5rem;
                font-size: 1.4rem;
                font-weight: 400;
            }

            .box_email {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0.5rem;
                overflow: hidden;
                position: relative;
                transition: color 0.3s ease;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 2px;
                    background-color: #DDA827;
                    transition: width 0.5s ease, right 8s ease 1.5s;
                }

                &:hover::after {
                    width: 100%;
                    left: 0;
                }

                &:hover {
                    color: #DDA827;
                }


                .email {
                    font-size: 1.4rem;
                    font-weight: 400;
                }

                .icon {
                    font-size: 1.4rem;
                    margin-left: 0.3rem;
                }
            }
        }
    }

    .box_form {
        width: 90%;
    }
}

@media (max-width: 867px) {
    .container {
        margin: 0rem 0 0rem 0 !important;

        .box_container {
            width: 1280px !important;
            margin: 0 auto;
            display: flex;
            padding: 0 1.2rem;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            .box_text {
                padding-left: 0.4rem;
                padding-right: 0.6rem;
                margin-top: 2rem;
                width: 100%;
                font-size: 1rem;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                .subtitle {
                    font-size: 1.2rem !important;
                    margin-bottom: 0.3rem;
                }

                .title {
                    font-size: 2.2rem !important;
                    line-height: 2.7rem !important;
                    margin-bottom: 0.5rem;
                }

                .information {
                    font-size: 1.3rem !important;
                    padding-right: 2rem;
                }

                .text_email {
                    margin-top: 2.5rem !important;
                    font-size: 1.3rem !important;
                    margin-bottom: 0rem;
                }

                .box_email {
                    .email {
                        font-size: 1.3rem !important;
                        font-weight: 400;
                    }

                    .icon {
                        font-size: 1.3rem !important;
                        margin-left: 0.3rem !important;
                        margin-top: 0.2rem;
                    }
                }

            }

            .box_form {
                width: 90%;
                margin-bottom: 2.5rem;
            }
        }
    }
}

@media (min-width: 868px) and (max-width: 1024px) {
    .container {
        margin: 0rem 0 0rem 0 !important;

        .box_container {
            width: 1280px;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            .box_text {
                padding-left: 0.4rem;
                padding-right: 0.6rem;
                margin-top: 2rem;
                width: 100%;
                font-size: 1rem;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                .subtitle {
                    font-size: 1.3rem !important;
                    margin-bottom: 0.3rem;
                }

                .title {
                    font-size: 2.4rem !important;
                    line-height: 2.7rem !important;
                    margin-bottom: 0.5rem;
                }

                .information {
                    font-size: 1.4rem !important;
                    padding-right: 2rem;
                }

                .text_email {
                    margin-top: 2.5rem !important;
                    font-size: 1.4rem !important;
                    margin-bottom: 0rem;
                }

                .box_email {
                    .email {
                        font-size: 1.4rem !important;
                        font-weight: 400;
                    }

                    .icon {
                        font-size: 1.4rem !important;
                        margin-left: 0.3rem !important;
                        margin-top: 0.2rem;
                    }
                }

            }

            .box_form {
                width: 80%;
                margin-bottom: 4rem;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1244px) {
    .container {
        margin: 8rem 0 2rem 0 !important;

        .box_container {
            width: 1280px;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0rem 0 0rem 0 !important;

            .box_text {
                padding-left: 0.4rem;
                padding-right: 0.6rem;
                width: 100%;
                font-size: 1rem;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                .subtitle {
                    font-size: 1.4rem !important;
                    margin-bottom: 0.3rem;
                }

                .title {
                    font-size: 2.5rem !important;
                    line-height: 2.7rem !important;
                    margin-bottom: 0.5rem;
                }

                .information {
                    font-size: 1.4rem !important;
                    padding-right: 2rem;
                }

                .text_email {
                    margin-top: 2.5rem !important;
                    font-size: 1.4rem !important;
                    margin-bottom: 0.3rem;
                }

                .box_email {
                    .email {
                        font-size: 1.4rem !important;
                        font-weight: 400;
                    }

                    .icon {
                        font-size: 1.4rem !important;
                        margin-left: 0.3rem !important;
                        margin-top: 0.2rem;
                    }
                }

            }

            .box_form {
                width: 100%;
                margin-bottom: 4rem;
            }
        }
    }
}