.container {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  margin: 6.5rem 0 16.5rem 0;
  padding: 0 2rem;

  .box_container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .box_title {
      position: sticky;
      top: 0;

      .subtitle {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 0.6rem;
        margin-left: 0.4rem;
        margin-top: 0.7rem;

        .linha {
          display: inline-block;
          margin-bottom: 0.4rem;
          width: 2.5rem;
          margin-left: 0.3rem;
          border: 1px solid #DDA827;
        }
      }

      .title {
        font-size: 3.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }

    .box_information {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;

      .box_one {
        padding: 3rem 3rem;
        width: 97%;
        border: 1px solid #1c1c1c57;
        border-radius: 25px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 13px 17px -5px,
          rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;

        .icon {
          font-size: 4rem;
          background-color: #DDA827;
          border-radius: 15px;
          color: #ffff;
          padding: 0.5rem 0.7rem;
          margin-bottom: 1.5rem;
        }

        .title {
          font-size: 2.3rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        .explication {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.8rem;
        }
      }

      .box_two {
        margin: 4rem 0rem;
        padding: 3rem 3rem;
        width: 97%;
        border: 1px solid #1c1c1c57;
        border-radius: 25px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;

        .icon {
          font-size: 4rem;
          background-color: #DDA827;
          border-radius: 15px;
          color: #ffff;
          padding: 0.5rem 0.7rem;
          margin-bottom: 1.5rem;
        }

        .title {
          font-size: 2.3rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        .explication {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.8rem;
        }
      }

      .box_three {
        padding: 3rem 3rem;
        width: 97%;
        border: 1px solid #1c1c1c57;
        border-radius: 25px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;

        .icon {
          font-size: 4rem;
          background-color: #DDA827;
          border-radius: 15px;
          color: #ffff;
          padding: 0.5rem 0.7rem;
          margin-bottom: 1.5rem;
        }

        .title {
          font-size: 2.3rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        .explication {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.8rem;
        }
      }
    }
  }
}

@media screen and (min-width: 897px) and (max-width: 1140px) {
  .container {
    margin: 4.5rem 0 16.5rem 0;

    .box_container {

      .box_title {
        position: sticky;

        .subtitle {
          font-size: 1.1rem;
          margin-bottom: 0.3rem;
        }

        .title {
          font-size: 2.7rem;
          font-weight: 500;
          margin-bottom: 4rem;
        }
      }

      .box_information {
        width: 55%;

        .box_one {

          .icon {
            font-size: 3.8rem;
          }

          .title {
            font-size: 2rem;
          }

          .explication {
            font-size: 1.2rem;
          }
        }

        .box_two {

          .icon {
            font-size: 3.8rem;
          }

          .title {
            font-size: 2rem;
          }

          .explication {
            font-size: 1.2rem;
          }
        }

        .box_three {

          .icon {
            font-size: 3.8rem;
          }

          .title {
            font-size: 2rem;
          }

          .explication {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 897px) {
  .container {
    margin: 4.5rem 0 16.5rem 0;
    padding: 0 0rem;

    .box_container {
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .box_title {
        position: static;

        .subtitle {
          font-size: 1.1rem;
          margin-bottom: 0.3rem;
        }

        .title {
          font-size: 2.7rem;
          font-weight: 500;
          margin-bottom: 4rem;
        }
      }

      .box_information {
        width: 90%;

        .box_one {

          .icon {
            font-size: 3.8rem;
          }

          .title {
            font-size: 2rem;
          }

          .explication {
            font-size: 1.2rem;
          }
        }

        .box_two {

          .icon {
            font-size: 3.8rem;
          }

          .title {
            font-size: 2rem;
          }

          .explication {
            font-size: 1.2rem;
          }
        }

        .box_three {

          .icon {
            font-size: 3.8rem;
          }

          .title {
            font-size: 2rem;
          }

          .explication {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}