.container {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  margin: 6rem 0 0rem 0;

  .box_title {
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
    padding: 0 2rem;

    .subtitle {
      text-align: left;
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
      margin-left: 0.3rem;
      margin-top: 0.7rem;
      font-weight: 400;


      .linha {
        display: inline-block;
        margin-bottom: 0.4rem;
        width: 2.5rem;
        margin-left: 0.3rem;
        border: 1px solid #DDA827;
      }
    }

    .title {
      font-size: 3.5rem;
      font-weight: 500;
    }
  }
}

@media (max-width: 867px) {
  .container {
    .box_title {
      .subtitle {
        margin-bottom: 0.3rem;
      }

      .title {
        font-size: 3rem !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    .box_title {
      .subtitle {
        font-size: 1.1rem;
        margin-bottom: 0.2rem;
      }

      .title {
        font-size: 2.5rem !important;
        font-weight: 500;
      }
    }
  }
}