.container {
    margin: 2.5rem 0 2.5rem 0;
    padding-bottom: 1.8rem;
    padding-right: 2rem;
    border-bottom: 1px solid #2E2D2D;
    color: #F9F7F1;
    width: 33rem;
    transition: border-bottom 0.4s ease;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .numbering_box {
        margin-right: 2rem;

        .number {
            padding-top: 0.2rem;
            font-size: 0.8rem;
            font-weight: 300;
            transition: background-color 0.4s ease;
        }
    }

    .texts_box {
        width: 100%;

        .title {
            display: inline;
            font-weight: 300;
            font-size: 1.5rem;
            overflow: hidden;
            position: relative;
            transition: color 0.3s ease;

            &::after,
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: 2px;
                background-color: #DDA827;
                transition: width 0.5s ease, right 8s ease 1.5s;
            }

            &:hover::after {
                width: 100%;
                left: 0;
            }

            &:hover {
                color: #DDA827;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 20rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1224px) {
    .container {
        width: 27rem;
    }
}