.container {
    margin-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #2E2D2D;
    transition: border-bottom 0.4s ease;
    height: 170px;
    overflow-x: hidden;

    &:hover {
        border-bottom: 1px solid #DDA827;

        .numbering_box .number {
            background-color: #DDA827;
            border: 1px solid #FDC529;
        }
    }

    .numbering_box {
        margin-right: 4rem;

        .number {
            border: 1px solid #2E2D2D;
            border-radius: 50%;
            padding: 0.8rem;
            transition: background-color 0.4s ease;
            font-weight: 400;
        }
    }

    .texts_box {
        width: 100%;

        .title {
            padding-bottom: 0.8rem;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .paragraph {
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 400;

        }
    }
}


@media screen and (min-width: 601px) and (max-width: 807px) {
    .container {
        height: 190px;

        .numbering_box {
            margin-right: 2rem;
        }
    }
}

@media screen and (min-width: 551px) and (max-width: 600px) {
    .container {
        height: 230px;

        .numbering_box {
            margin-right: 1rem;
        }

        .texts_box {

            .title {
                font-weight: 500;
                font-size: 1.4rem;
            }

            .paragraph {
                font-size: 1.1rem;
                line-height: 1.5rem;
                font-weight: 300;

            }
        }
    }
}

@media screen and (max-width: 550px) {
    .container {
        height: 250px;

        .numbering_box {
            margin-right: 1rem;
        }

        .texts_box {

            .title {
                font-weight: 500;
                font-size: 1.4rem;
            }

            .paragraph {
                font-size: 1.1rem;
                line-height: 1.5rem;
                font-weight: 300;

            }
        }
    }
}