.footer {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    background-color: #1c1c1c;
    color: #F9F7F1;
    padding: 4rem 1rem 4rem 1rem;
    overflow-x: hidden;
    z-index: 4;

    .logo_footer {
        display: none;

        .img {
            width: 170px;
        }
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0rem 0.5rem 0rem 0.5rem;

        .logo_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #2E2D2D;
            padding-bottom: 2rem;

            .logo {
                .img {
                    width: 170px;
                }
            }

            .nav {
                .list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;

                    .link {
                        color: #F9F7F1;

                        li {
                            font-size: 0.9rem;
                            position: relative;
                            overflow: hidden;
                            transition: all 0.3s ease;
                            text-transform: uppercase;
                            margin-left: 2rem;

                            &::after,
                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 0;
                                height: 1px;
                                background-color: #DDA827;
                                transition: width 0.5s ease, right 8s ease 1.5s;
                            }

                            &:hover::after {
                                width: 100%;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }

        .copyright_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 2rem;

            .copyright {
                font-weight: 300;
                font-size: 1rem;
            }

            .icons_box {
                .list_icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .link {
                        color: #F9F7F1;

                        li {
                            font-size: 1.5rem;
                            position: relative;
                            overflow: hidden;
                            transition: all 0.3s ease;
                            text-transform: uppercase;
                            margin-left: 1.7rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .footer {
        .logo_footer {
            display: block;
            text-align: center;
            margin-bottom: 1.7rem;
            font-size: 1.1rem;
        }

        .container {
            .logo_box {
                display: flex;
                align-items: center;
                justify-content: center;

                .logo {
                    display: none;
                }

                .nav {
                    .list {

                        li {
                            margin: 0 1rem;
                        }
                    }
                }
            }

            .copyright_box {
                .copyright {
                    font-size: 0.8rem;
                    color: #f9f7f193;
                }

                .icons_box {
                    .list_icons {
                        li {
                            font-size: 0.8rem !important;
                            margin-left: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        padding: 3.5rem 1rem 4rem 1rem;

        .logo_footer {
            display: block;
            text-align: center;
            margin-bottom: 1.7rem;
            font-size: 1.1rem;
        }

        .container {
            .logo_box {
                display: flex;
                align-items: center;
                justify-content: center;

                .logo {
                    display: none;
                }

                .nav {
                    .list {
                        li {
                            font-size: 0.8rem !important;
                            margin: 0 0.5rem !important;
                        }
                    }
                }
            }

            .copyright_box {
                .copyright {
                    font-size: 0.8rem;
                    color: #f9f7f193;
                }

                .icons_box {
                    .list_icons {
                        .link {

                            li {
                                margin-left: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}