.container {
    max-width: 1380px;
    margin: 12rem auto 8rem auto;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    overflow-x: hidden;

    .texts_box_responsive {
        display: none;
    }

    .plans_box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-right: 2rem;

        .texts_box {
            width: 35%;
            padding: 0rem 2rem 0 2rem;
            margin-top: 1rem;

            .subtitle {
                border: #2E2D2D;
                font-size: 1rem;
                font-weight: 400;
                text-transform: uppercase;

                .linha {
                    display: inline-block;
                    margin-right: 0.5rem;
                    margin-bottom: 0.4rem;
                    width: 2.5rem;
                    border: 1px solid #DDA827;
                }
            }

            .title {
                padding-top: 0.5rem;
                font-size: 3rem;
                font-weight: 600;
                line-height: 3.1rem;
            }

            .paragraph {
                margin-top: 1rem;
                font-size: 1.2rem;
                padding-right: 2rem;
                font-weight: 300;
                line-height: 1.3rem;
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Archivo", sans-serif;
                font-weight: 600;
                position: relative;
                outline: none;
                border: none;
                overflow: hidden;
                text-transform: uppercase;
                padding: 1.2rem 1.5rem;
                margin-top: 2rem;
                background-color: #1c1c1c;
                color: #F9F7F1;
                border: 2px solid #F9F7F1;
                transition: all 0.3s ease;

                &:hover {
                    border: 2px solid #1c1c1c;
                    color: #DDA827;
                    background-color: #F9F7F1;
                }

                .icon {
                    font-size: 1rem;
                    margin-right: 0.5rem;
                }

                .text_btn {
                    padding: 0rem 0 0rem 0;
                }
            }
        }

        .basic {
            padding: 2.2rem 2rem;
            width: 30%;
            border-radius: 15px;
            box-shadow: 0px 3px 10px 0px rgba(218, 146, 70, 0.6);
            margin-right: 2.5rem;

            .icon_box {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.2rem;

                .icon_desktop {
                    background-color: #dda92746;
                    font-size: 4rem;
                    padding: 1rem;
                    border-radius: 50%;
                    color: #2E2D2D;
                }
            }


            .title {
                text-align: center;
                font-size: 2rem;
            }

            .prices_box {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;
                padding-bottom: 1.2rem;
                border-bottom: 1px solid #2e2d2d52;


                .discount {
                    font-size: 1rem;
                    text-decoration: line-through;
                    margin-right: 1rem;
                    color: #2E2D2D;
                }

                .total_box {
                    display: flex;
                    color: red;

                    .coin {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                    }

                    .value {
                        font-size: 2.5rem;
                    }

                    .month {
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                    }
                }
            }

            .payment {
                text-align: center;
                font-size: 1rem;
                color: #2E2D2D;
                margin-top: 0.7rem;
            }

            .choose_box {
                display: flex;
                align-items: center;
                justify-content: center;

                .choose_btn {
                    font-family: "Archivo", sans-serif;
                    font-weight: 600;
                    color: #DDA827;
                    background-color: #F2E1BA;
                    margin-top: 2rem;
                    padding: 1rem 3rem;
                    border-radius: 35px;
                    outline: none;
                    font-size: 1.5rem;
                    margin-bottom: 0.2rem;
                    border: 2px solid #DDA827;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .custom {
            padding: 2.2rem 2rem;
            width: 30%;
            margin-left: 2.5rem;
            border-radius: 15px;
            box-shadow: 0px 3px 10px 0px rgba(218, 146, 70, 0.6);

            .icon_box {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.2rem;

                .icon_desktop {
                    background-color: #dda92746;
                    font-size: 4rem;
                    padding: 1rem;
                    border-radius: 50%;
                    color: #2E2D2D;
                }
            }


            .title {
                text-align: center;
                font-size: 2rem;
            }

            .prices_box {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;
                padding-bottom: 1.2rem;
                border-bottom: 1px solid #2e2d2d52;


                .discount {
                    font-size: 1rem;
                    text-decoration: line-through;
                    margin-right: 1rem;
                    color: #2E2D2D;
                }

                .total_box {
                    display: flex;
                    color: red;

                    .coin {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                    }

                    .value {
                        font-size: 2.5rem;
                    }

                    .month {
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                    }
                }
            }

            .payment {
                text-align: center;
                font-size: 1rem;
                color: #2E2D2D;
                margin-top: 0.7rem;
            }

            .choose_box {
                display: flex;
                align-items: center;
                justify-content: center;

                .choose_btn {
                    font-family: "Archivo", sans-serif;
                    font-weight: 600;
                    background-color: #cccccc8e;
                    color: #2E2D2D;
                    margin-top: 2rem;
                    padding: 1rem 3rem;
                    border-radius: 35px;
                    border: none;
                    outline: none;
                    font-size: 1.5rem;
                    margin-bottom: 0.2rem;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .container {
        margin: 2rem auto 8rem auto;

        .plans_box {
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding-right: 0;

            .texts_box {
                width: 100%;
                margin-top: 0rem;
                margin-bottom: 2rem;

                .title {
                    font-size: 2.8rem;
                    line-height: 2.8rem;
                }

                .subtitle {
                    font-size: 0.9rem;
                }

                .btn {
                    margin-top: 1.5rem;
                }
            }

            .basic {
                width: 90%;
                margin-right: 0rem;
                margin-bottom: 4rem;

                .prices_box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 2rem;
                    padding-bottom: 1.2rem;
                    border-bottom: 1px solid #2e2d2d52;


                    .discount {
                        font-size: 0.9rem;
                        text-decoration: line-through;
                        margin-right: 1rem;
                        color: #2E2D2D;
                    }

                    .total_box {
                        display: flex;
                        color: red;

                        .coin {
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                        }

                        .value {
                            font-size: 2.2rem;
                        }

                        .month {
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;
                        }
                    }
                }

                .title {
                    font-size: 1.8rem;
                }

                .payment {
                    text-align: center;
                    font-size: 0.9rem;
                    color: #2E2D2D;
                    margin-top: 0.7rem;
                }

                .choose_box {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .choose_btn {
                        font-family: "Archivo", sans-serif;
                        font-weight: 600;
                        color: #DDA827;
                        background-color: #F2E1BA;
                        margin-top: 2rem;
                        padding: 1rem 3rem;
                        border-radius: 35px;
                        outline: none;
                        font-size: 1.3rem;
                        margin-bottom: 0.2rem;
                        border: 2px solid #DDA827;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .custom {
                width: 90%;
                margin-left: 0rem;
                margin-bottom: 2rem;

                .prices_box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 2rem;
                    padding-bottom: 1.2rem;
                    border-bottom: 1px solid #2e2d2d52;


                    .discount {
                        font-size: 0.9rem;
                        text-decoration: line-through;
                        margin-right: 1rem;
                        color: #2E2D2D;
                    }

                    .total_box {
                        display: flex;
                        color: red;

                        .coin {
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                        }

                        .value {
                            font-size: 2.2rem;
                        }

                        .month {
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;
                        }
                    }
                }

                .title {
                    font-size: 1.8rem;
                }

                .payment {
                    text-align: center;
                    font-size: 0.9rem;
                    color: #2E2D2D;
                    margin-top: 0.7rem;
                }

                .choose_box {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .choose_btn {
                        font-family: "Archivo", sans-serif;
                        font-weight: 600;
                        background-color: #cccccc8e;
                        color: #2E2D2D;
                        margin-top: 2rem;
                        padding: 1rem 3rem;
                        border-radius: 35px;
                        border: none;
                        outline: none;
                        font-size: 1.3rem;
                        margin-bottom: 0.2rem;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        margin: 2rem auto 8rem auto;

        .plans_box {
            align-items: center;
            flex-direction: column;
            padding-right: 0;

            .texts_box {
                width: 79%;
                margin-top: 0rem;
                margin-bottom: 4rem;
            }

            .basic {
                width: 70%;
                margin-right: 0rem;
                margin-bottom: 4rem;
            }

            .custom {
                width: 70%;
                margin-left: 0rem;
            }
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .container {
        margin: 2rem auto 8rem auto;

        .texts_box_responsive {
            display: block;
            width: 40%;
            padding: 0rem 2rem 0 2rem;
            margin: 1rem 0 4rem 1rem;
            padding-right: 0;

            .subtitle {
                border: #2E2D2D;
                font-size: 1rem;
                font-weight: 400;
                text-transform: uppercase;

                .linha {
                    display: inline-block;
                    margin-right: 0.5rem;
                    margin-bottom: 0.4rem;
                    width: 2.5rem;
                    border: 1px solid #DDA827;
                }
            }

            .title {
                padding-top: 0.5rem;
                font-size: 3rem;
                font-weight: 600;
                line-height: 3.1rem;
            }

            .paragraph {
                margin-top: 1rem;
                font-size: 1.2rem;
                padding-right: 2rem;
                font-weight: 300;
                line-height: 1.3rem;
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Archivo", sans-serif;
                font-weight: 600;
                position: relative;
                outline: none;
                border: none;
                overflow: hidden;
                text-transform: uppercase;
                padding: 1.2rem 1.5rem;
                margin-top: 2rem;
                background-color: #1c1c1c;
                color: #F9F7F1;
                border: 2px solid #F9F7F1;
                transition: all 0.3s ease;

                &:hover {
                    border: 2px solid #1c1c1c;
                    color: #DDA827;
                    background-color: #F9F7F1;
                }

                .icon {
                    font-size: 1rem;
                    margin-right: 0.5rem;
                }

                .text_btn {
                    padding: 0rem 0 0rem 0;
                }
            }
        }

        .plans_box {
            align-items: flex-start;

            .texts_box {
                display: none;
                padding-right: 0;
            }

            .basic {
                width: 100%;
                margin-left: 2.5rem;
                margin-right: 2rem;
            }

            .custom {
                width: 100%;
                margin-left: 2rem;
                margin-right: 0.6rem;
            }
        }
    }
}