.container {
    margin-bottom: 60rem;
    height: 100vh;
    font-family:
        'Darker Grotesque',
        -apple-system,
        Roboto,
        Arial,
        sans-serif;

    .box_benefits {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 2rem;

        .box_title {
            margin-bottom: 5rem;

            .title {
                text-align: left;
                font-size: 4rem;
            }
        }

        .line_one_box {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;


            .box_one {
                padding: 2rem 2rem;
                width: 34%;
                height: 440px;
                margin-bottom: 2.7rem;

                img {
                    width: 120px;
                    padding-bottom: 0.7rem;
                }

                h6 {
                    line-height: 2.7rem;
                    font-size: 2.3rem;
                    padding-bottom: 0.8rem;
                }

                p {
                    font-size: 1.5rem;

                }
            }

            .box_two {
                padding: 2rem 2rem;
                width: 34%;
                height: 440px;
                margin-bottom: 2.7rem;

                img {
                    width: 120px;
                    padding-bottom: 0.7rem;
                }

                h6 {
                    line-height: 2.7rem;
                    font-size: 2.3rem;
                    padding-bottom: 0.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }

        .line_two_box {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            .box_one {
                padding: 2rem 2rem;
                width: 34%;
                height: 430px;


                img {
                    width: 120px;
                    padding-bottom: 0.7rem;
                }

                h6 {
                    line-height: 2.7rem;
                    font-size: 2.3rem;
                    padding-bottom: 0.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }

            .box_two {
                padding: 2rem 2rem;
                width: 34%;
                height: 430px;


                img {
                    width: 120px;
                    padding-bottom: 0.7rem;
                }

                h6 {
                    line-height: 2.7rem;
                    font-size: 2.3rem;
                    padding-bottom: 0.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }

        .line_three_box {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            .box_one {
                padding: 2rem 2rem;
                width: 34%;
                height: 410px;

                img {
                    width: 120px;
                    padding-bottom: 0.7rem;
                }

                h6 {
                    line-height: 2.7rem;
                    font-size: 2.3rem;
                    padding-bottom: 0.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }

            .box_two {
                padding: 2rem 2rem;
                width: 34%;
                height: 410px;

                img {
                    width: 120px;
                    padding-bottom: 0.7rem;
                }

                h6 {
                    line-height: 2.7rem;
                    font-size: 2.3rem;
                    padding-bottom: 0.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }

        .line_four_box {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            .box_one {
                padding: 2rem 2rem;
                width: 34%;
                height: 420px;

                img {
                    width: 120px;
                    padding-bottom: 0.7rem;
                }

                h6 {
                    line-height: 2.7rem;
                    font-size: 2.3rem;
                    padding-bottom: 0.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }

            .box_two {
                padding: 2rem 2rem;
                width: 34%;
                height: 420px;

                img {
                    width: 120px;
                    padding-bottom: 0.7rem;
                }

                h6 {
                    line-height: 2.7rem;
                    font-size: 2.3rem;
                    padding-bottom: 0.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 719px) {
    .container {
        margin-bottom: 125rem;
        height: 100vh;
        font-family:
            'Darker Grotesque',
            -apple-system,
            Roboto,
            Arial,
            sans-serif;

        .box_benefits {
            max-width: 1280px;
            margin: 0 auto;

            .box_title {
                margin-bottom: 5rem;

                .title {
                    padding-left: 0.5rem!important;
                    text-align: center !important;
                    font-size: 3.8rem;
                }
            }

            .line_one_box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;

                .box_one {
                    padding: 2rem 2rem;
                    width: 100% !important;
                    height: auto !important;
                    margin-bottom: 2.5rem;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;

                    }
                }

                .box_two {
                    padding: 2rem 2rem;
                    width: 100% !important;
                    height: auto !important;
                    margin-bottom: 2.5rem;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }
            }

            .line_two_box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;

                .box_one {
                    padding: 2rem 2rem;
                    width: 100% !important;
                    height: auto !important;


                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .box_two {
                    padding: 2rem 2rem;
                    width: 100% !important;
                    height: auto !important;


                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }
            }

            .line_three_box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;

                .box_one {
                    padding: 2rem 2rem;
                    width: 100% !important;
                    height: auto !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .box_two {
                    padding: 2rem 2rem;
                    width: 100% !important;
                    height: auto !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }
            }

            .line_four_box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;

                .box_one {
                    padding: 2rem 2rem;
                    width: 100% !important;
                    height: auto !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .box_two {
                    padding: 2rem 2rem;
                    width: 100% !important;
                    height: auto !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 720px) and (max-width: 1024px) {
    .container {
        margin-bottom: 70rem !important;
        height: 100vh;
        font-family:
            'Darker Grotesque',
            -apple-system,
            Roboto,
            Arial,
            sans-serif;

        .box_benefits {
            max-width: 1280px;
            margin: 0 auto;
            padding: 0 2rem;

            .box_title {
                margin-bottom: 5rem;

                .title {
                    padding-left: 2rem;
                    text-align: left;
                    font-size: 4.2rem;
                }
            }

            .line_one_box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;


                .box_one {
                    padding: 2rem 1.5rem 2rem 2rem !important;
                    width: 50% !important;
                    height: 500px !important;
                    margin-bottom: 2.5rem !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;

                    }
                }

                .box_two {
                    padding: 2rem 1.5rem 2rem 2rem !important;
                    width: 50% !important;
                    height: 500px !important;
                margin-bottom: 2.5rem !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }
            }

            .line_two_box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                .box_one {
                    padding: 2rem 1.5rem 2rem 2rem !important;
                    width: 50% !important;
                    height: 500px !important;
                    margin-bottom: 2.5rem !important;


                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .box_two {
                    padding: 2rem 1.5rem 2rem 2rem !important;
                    width: 50% !important;
                    height: 500px !important;
                    margin-bottom: 2.5rem !important;


                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }
            }

            .line_three_box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                .box_one {
                    padding: 2rem 1.5rem 2rem 2rem !important;
                    width: 50% !important;
                    height: 500px !important;
                    margin-bottom: 2.5rem !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .box_two {
                    padding: 2rem 1.5rem 2rem 2rem !important;
                    width: 50% !important;
                    height: 500px !important;
                    margin-bottom: 2.5rem !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }
            }

            .line_four_box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                .box_one {
                    padding: 2rem 1.5rem 2rem 2rem !important;
                    width: 50% !important;
                    height: 500px !important;
                    margin-bottom: 2.5rem !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .box_two {
                    padding: 2rem 1.5rem 2rem 2rem !important;
                    width: 50% !important;
                    height: 500px !important;
                    margin-bottom: 2.5rem !important;

                    img {
                        width: 120px;
                        padding-bottom: 0.7rem;
                    }

                    h6 {
                        line-height: 2.7rem;
                        font-size: 2.3rem;
                        padding-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}