.container {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    margin-top: 3rem;
    padding-right: 2rem;
    padding-left: 1rem;

    .form {
        .error {
            margin-bottom: 0.1rem;
            font-size: 1rem;
            color: #F58484;
        }

        .form_group {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 2px solid #1c1c1c;
            margin-top: 1.2rem;

            &.error {
                margin-bottom: 0.1rem;
                font-size: 1rem;
                border-bottom: 2px solid #F58484;
            }

            .label_nome {
                font-size: 1.4rem;
                margin-top: 0.5rem;

            }

            .label_email {
                margin-top: 0.5rem;
                font-size: 1.4rem;
            }

            .label_telefone {
                font-size: 1.4rem;
                margin-top: 0.5rem;
            }

            .label_textarea {
                font-size: 1.4rem;
                margin-top: 0.5rem;
                width: 67%;
            }

            .input {
                padding: 1.7rem 0 1.1rem 0.2rem;
                font-family: "Archivo", sans-serif;
                font-weight: 400;
                color: #1c1c1c;
                width: 70%;
                border: none;
                outline: none;
                font-size: 1.3rem;
                background-color: #F9F7F1;

                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0px 1000px #F9F7F1 inset;
                }
            }
        }

        .btn_form {
            margin-top: 3rem;

            .btn {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-family: "Archivo", sans-serif;
                font-weight: 600;
                color: #F9F7F1;
                background-color: #1c1c1c;
                text-transform: uppercase;
                padding: 0.8rem 1.5rem;
                margin-top: 0.8rem;
                font-size: 1rem;
                border: 2px solid transparent;
                outline: none;
                transition: background-color 0.3s ease;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                &:hover {
                    color: #1c1c1c;
                    border: 2px solid #1c1c1c;
                    background-color: #F9F7F1;

                    .text_btn::after {
                        width: 100%;
                        left: 0;
                    }
                }

                .text_btn {
                    overflow: hidden;
                    position: relative;
                    padding: 0rem 0 0rem 0;

                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        height: 1px;
                        background-color: #1c1c1c;
                        transition: width 0.5s ease, right 8s ease 1.5s;
                    }
                }
            }

            .icon {
                margin-left: 0.3rem;
                display: flex;
                align-items: center;
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1244px) {
    .container {
        margin-top: 2rem;
        padding-right: 0rem !important;
        padding-left: 0.6rem !important;
        font-family: "Archivo", sans-serif;
        font-weight: 400;

        .form {
            display: block;


            .error {
                margin-bottom: 0.1rem;
                font-size: 1rem;
                color: #F58484;
            }

            .form_group {
                margin-top: 1.2rem;

                &.error {
                    margin-bottom: 0.1rem;
                    font-size: 1rem;
                    border-bottom: 2px solid #F58484;
                }

                .label_nome {
                    width: 28%;

                    font-size: 1.4rem;
                    margin-top: 0.5rem;

                }

                .label_email {
                    width: 30%;
                    margin-top: 0.5rem;
                    font-size: 1.4rem;

                }

                .label_telefone {
                    width: 36%;
                    font-size: 1.4rem;
                    margin-top: 0.5rem;
                }

                .label_textarea {
                    font-size: 1.4rem;
                    width: 98%;
                    margin-top: 0.5rem !important;
                }

                .input {
                    padding: 1.7rem 0 1.1rem 0rem;
                    font-family: "Archivo", sans-serif;
                    font-weight: 400;
                    width: 90%;
                    color: #1c1c1c;
                    border: none;
                    outline: none;
                    font-size: 1.3rem;
                    background-color: #F9F7F1;
                }
            }

            .btn_form {
                .btn {
                    margin-top: 1rem !important;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        font-family: "Archivo", sans-serif;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-right: 0rem !important;
        padding-left: 0.6rem !important;

        .form {
            display: block;


            .error {
                margin-bottom: 0.1rem;
                font-size: 1rem;
                color: #F58484;
            }

            .form_group {
                margin-top: 1.2rem;

                &.error {
                    margin-bottom: 0.1rem;
                    font-size: 1rem;
                    border-bottom: 2px solid #F58484;
                }

                .label_nome {
                    width: 20%;
                    font-size: 1.4rem;
                    margin-top: 0.5rem;

                }

                .label_email {
                    width: 23%;
                    margin-top: 0.5rem;
                    font-size: 1.4rem;

                }

                .label_telefone {
                    width: 25%;
                    font-size: 1.4rem;
                    margin-top: 0.5rem;
                }

                .label_textarea {
                    font-size: 1.4rem;
                    width: 61%;
                    margin-top: 0.6rem;
                }

                .input {
                    padding: 1.7rem 0 1.1rem 0.2rem;
                    font-family: "Archivo", sans-serif;
                    font-weight: 400;
                    width: 90%;
                    color: #1c1c1c;
                    border: none;
                    outline: none;
                    font-size: 1.3rem;
                    background-color: #F9F7F1;
                }
            }

            .btn_form {
                .btn {
                    margin-top: 1rem !important;
                }
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .container {
        font-family: "Archivo", sans-serif;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-right: 0rem !important;
        padding-left: 0.6rem !important;

        .form {
            display: block;


            .error {
                margin-bottom: 0.1rem;
                font-size: 1rem;
                color: #F58484;
            }

            .form_group {
                margin-top: 1.2rem;

                &.error {
                    margin-bottom: 0.1rem;
                    font-size: 1rem;
                    border-bottom: 2px solid #F58484;
                }

                .label_nome {
                    width: 30%;
                    font-size: 1.4rem;
                    margin-top: 0.5rem;

                }

                .label_email {
                    width: 30%;
                    margin-top: 0.5rem;
                    font-size: 1.4rem;

                }

                .label_telefone {
                    width: 38%;
                    font-size: 1.4rem;
                    margin-top: 0.5rem;
                }

                .label_textarea {
                    font-size: 1.4rem;
                    width: 104%;
                    margin-top: 0.6rem;
                }

                .input {
                    padding: 1.7rem 0 1.1rem 0.2rem;
                    font-family: "Archivo", sans-serif;
                    font-weight: 400;
                    width: 90%;
                    color: #1c1c1c;
                    border: none;
                    outline: none;
                    font-size: 1.3rem;
                    background-color: #F9F7F1;
                }
            }

            .btn_form {
                .btn {
                    margin-top: 1rem !important;
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .container {
        font-family: "Archivo", sans-serif;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-right: 0rem !important;
        padding-left: 0.6rem !important;

        .form {
            display: block;

            .error {
                margin-bottom: 0.1rem;
                font-size: 1rem;
                color: #F58484;
            }

            .form_group {
                margin-top: 1.2rem;

                &.error {
                    margin-bottom: 0.1rem;
                    font-size: 1rem;
                    border-bottom: 2px solid #F58484;
                }

                .label_nome {
                    width: 30%;
                    font-size: 1.2rem;
                    margin-top: 1rem;

                }

                .label_email {
                    width: 33%;
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }

                .label_telefone {
                    width: 37%;
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }

                .label_textarea {
                    font-size: 1.2rem;
                    width: 98%;
                    margin-top: 1rem;
                }

                .input {
                    padding: 2.2rem 0 1.1rem 0.2rem;
                    font-family: "Archivo", sans-serif;
                    font-weight: 400;
                    width: 90%;
                    color: #1c1c1c;
                    border: none;
                    outline: none;
                    font-size: 1.1rem;
                    background-color: #F9F7F1;
                }
            }

            .btn_form {
                margin-top: 2.7rem !important;

                .btn {
                    padding: 0.6rem 1.2rem;
                }
            }
        }
    }
}