.container {
  margin-top: 6rem;
  margin-bottom: 3.5rem;
  font-family:
    'Darker Grotesque',
    -apple-system,
    Roboto,
    Arial,
    sans-serif;
  .box_title {
    text-align: center;
    p {
      font-size: 4rem;
      span {
        font-weight: 900;
      }
    }
  }
}
