.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1c1c1c13;
    padding: 1.1rem 1.4rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    margin-right: 1.6rem;

    .icon {
        margin-right: 0.9rem;
        font-size: 1.7rem;
        color: #DDA827;
    }

    .title_icon {
        font-size: 1rem;
        font-weight: 300;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0.8em 1rem;
        margin-right: 1rem;

        .icon {
            margin-right: 0.5rem!important;
            font-size: 1.5rem;
        }

        .title_icon {
            font-size: 0.9rem;
        }
    }
}