.container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    overflow-x: hidden;

    .header {
        margin-top: 7rem;
        position: relative;
        height: 62vh;
        background-image: url(../../../assets/images/img/grupo-de-pessoas-escritorio.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;


        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .box_title {
            position: absolute;
            top: 20%;
            left: 10%;
            z-index: 2;

            .title {
                font-size: 3.5rem;
                color: #F9F7F1;
                font-weight: 600;
                margin-bottom: 2rem;
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Archivo", sans-serif;
                font-weight: 600;
                background-color: #F9F7F1;
                color: #1c1c1c;
                text-transform: uppercase;
                padding: 1rem 1.5rem;
                margin-top: 1rem;
                outline: none;
                border: none;
                transition: background-color 0.3s ease;
                position: relative;
                overflow: hidden;

                &:hover {
                    color: #F9F7F1;
                    background-color: #1c1c1c;

                    .text_btn::after {
                        width: 100%;
                        left: 0;
                    }
                }

                .text_btn {
                    overflow: hidden;
                    position: relative;
                    padding: 0rem 0 0rem 0;

                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        height: 1px;
                        background-color: #F9F7F1;
                        transition: width 0.5s ease, right 8s ease 1.5s;
                    }
                }
            }

            .icon {
                font-size: 1.5rem;
                margin-left: 0.2rem;
            }
        }

        .box_overlay {
            position: absolute;
            bottom: 0%;
            right: 0%;
            z-index: 2;

            .text_overlay {
                width: 480px;
                height: 180px;
                padding: 2.2rem 4rem;
                position: absolute;
                bottom: 0%;
                right: 0%;
                background-color: #F9F7F1;
                font-size: 2.3rem;
                font-weight: 200;
                color: #1c1c1c;

                .linha {
                    display: inline-block;
                    margin-left: 2rem;
                    margin-bottom: 0.5rem;
                    width: 2.5rem;
                    border: 1px solid #DDA827;
                }

                span {
                    position: relative;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    font-weight: 400;
                    overflow: hidden;
                    color: #1c1c1c;
                    padding: 0.2rem 0;

                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background-color: #DDA827;
                        transition: width 0.5s ease, right 8s ease 1.5s;
                    }

                    &:hover::after {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1084px) {
    .text_overlay {
        display: none;
    }
}

@media screen and (max-width: 807px) {
    .container {

        .header {
            margin-top: 5.2rem !important;

            .box_title {
                top: 10% !important;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .header {
            .box_title {
                top: 15% !important;
                left: 1% !important;
                padding: 0 2rem 0 1.5rem;

                .title {
                    font-size: 2.6rem !important;

                    margin-bottom: 0.8rem;
                }

                .btn {
                    margin-top: 1rem !important;
                    padding: 0.9rem 1.2rem;
                }
            }
        }
    }
}