.container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    margin: 12rem auto 14rem auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .image_box {
        width: 50%;
        height: 800px;

        img {
            width: 100%;
        }
    }

    .activities_box {
        padding: 0 12rem 0 4rem;
        width: 50%;

        .texts {
            .subtitle {
                font-size: 1.2rem;
                margin-bottom: 1.2rem;

                .linha {
                    display: inline-block;
                    margin-bottom: 0.4rem;
                    width: 2.5rem;
                    border: 1px solid #DDA827;
                }
            }

            .title {
                font-size: 2.5rem;
                text-align: right;
                font-weight: 500;
            }
        }

    }
}