.faq-container {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #1c1c1c;
  padding: 20px;
  color: #F9F7F1;
  overflow-x: hidden;

  .faq_box {
    max-width: 1280px;
    margin: 4rem auto 4rem auto;

    .subtitle {
      text-align: left;
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
      font-weight: 400;

      .linha {
        margin-left: 0.2rem;
        display: inline-block;
        margin-bottom: 0.4rem;
        width: 2.5rem;
        border: 1px solid #DDA827;
        ;
      }
    }

    .title {
      font-size: 3rem;
      letter-spacing: 1px;
      text-align: left;
      font-weight: 500;
    }

    .faq-list {
      margin: 3.5rem 0rem 8.5rem 0rem;

      .faq-item {
        text-align: left;
        margin-top: 1rem;
        padding: 1rem 0rem 2rem 0rem;
        cursor: pointer;
        transition: 0.3s;
        font-weight: 200;
        border-bottom: 1px solid #2E2D2D;
        max-height: auto;
        overflow: hidden;

        &.open {
          max-height: 1000px;
        }

        .question {
          display: flex;
          align-items: flex-start;
          cursor: pointer;
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: 300;

          .icon-show,
          .icon-close {
            font-size: 24px;
            margin-left: auto;
          }
        }

        .answer {
          font-size: 1.3rem;
          line-height: 1.5rem;
          letter-spacing: 1px;
          font-weight: 300;
          text-align: left;
          padding: 1.5rem 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .faq-container {
    .faq_box {
      .subtitle {
        font-size: 1.1rem;
      }

      .title {
        font-size: 2.7rem;
      }
    }
  }
}