.container {
  padding-top: 10rem;
  font-family:
    'Poppins',
    -apple-system,
    Roboto,
    Arial,
    sans-serif;
  padding-bottom: 15rem;
  .box_title {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    .title {
      font-size: 2.2rem;
    }
  }
  .container_explanation {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    border-bottom: 2px solid;
    .box_explanation {
      display: flex;
      justify-content: center;
      align-items: center;
      .box_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        .icon {
          border: 2px solid;
          border-radius: 50%;
          padding: 0rem 1rem;
          font-size: 5.5rem;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }
      .box_text {
        width: 60%;
        .title {
          font-size: 1.7rem;
          padding-bottom: 1.5rem;
          font-weight: 900;
        }
        .description {
          font-weight: 600;
          font-size: 1.1rem;
        }
        .box_tags {
          padding-top: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: left;
          flex-wrap: wrap;
          span {
            margin: 0.3rem 0.3rem;
            font-size: 0.7rem;
            font-weight: 900;
            border: 1px solid;
            border-radius: 25px;
            padding: 0.3rem 0.7rem;
          }
        }
      }
    }
  }
}
