.container {
  max-width: 1080px;
  margin: 0 auto;
  color: #000;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3.5rem;
  }
  .box_explanation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    div {
      width: 300px;
      margin: 1rem;
      border: 1px solid red;
    }
  }
}
