.container {
    background-color: #0A0909;
    color: #F9F7F1;
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    margin: 8rem auto 8rem auto;
    overflow-x: hidden;

    .background {
        max-width: 1380px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 6.5rem 0rem 6rem 0rem;

        .texts_box {
            padding: 0 2rem 0 2rem;
            width: 60%;
            margin: 0 0 0 0rem;

            .texts {
                margin-top: 1.5rem;

                .subtitle {
                    font-size: 1.2rem;
                    margin-bottom: 1.2rem;
                    font-weight: 400;

                    .linha {
                        display: inline-block;
                        margin-bottom: 0.3rem;
                        width: 2.5rem;
                        border: 1px solid #DDA827;
                        outline: none;
                        width: 55px;
                    }
                }

                .title {
                    font-size: 4rem;
                    letter-spacing: 2px;
                    font-weight: 400;
                }

                .btn {
                    font-family: "Archivo", sans-serif;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background-color: #1c1c1c;
                    border: none;
                    outline: none;
                    color: #F9F7F1;
                    margin-top: 2rem;
                    padding: 1.9rem 2rem;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #DDA827;
                    }

                    &:hover {
                        background-color: #DDA827;
                        color: #F9F7F1;

                        .text_btn::after {
                            width: 100%;
                            left: 0;
                        }
                    }

                    .text_btn {
                        overflow: hidden;
                        position: relative;
                        padding: 0rem 0 0rem 0;

                        &::after,
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 0;
                            height: 1px;
                            background-color: #F9F7F1;
                            transition: width 0.5s ease, right 8s ease 1.5s;
                        }
                    }
                }
            }
        }

        .contents {
            width: 40%;
            margin: 0 4rem 0 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .background {
            flex-wrap: wrap;
            padding: 3.5rem 0rem 3rem 0rem;

            .texts_box {
                padding: 0 0rem 0 0rem;
                width: 87%;

                .texts {
                    .subtitle {
                        font-weight: 400;

                    }

                    .title {
                        font-size: 2.7rem;
                        letter-spacing: 2px;
                        font-weight: 400;
                    }

                    .btn {
                        padding: 1.3rem 1.6rem;
                        margin-top: 1.3rem;
                        margin-bottom: 1rem;
                    }
                }
            }

            .contents {
                width: 70%;
                margin: 0 4rem 0 0;
            }
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        .background {
            flex-wrap: wrap;
            padding: 3.5rem 0rem 3rem 0rem;

            .texts_box {
                padding: 0 0rem 0 0rem;
                width: 87%;

                .texts {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .subtitle {
                        font-weight: 400;
                    }

                    .title {
                        text-align: center;
                        font-size: 3rem;
                        letter-spacing: 2px;
                        font-weight: 400;
                    }

                    .btn {
                        padding: 1.3rem 1.6rem;
                        margin-top: 1.3rem;
                        margin-bottom: 1rem;
                    }
                }
            }

            .contents {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 70%;
                margin: 0 0rem 0 0;
            }
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1224px) {
    .container {
        .background {
            .texts_box {
                padding: 0 0rem 0 2rem;

                .title {
                    font-size: 3.5rem !important;
                }

                .btn {
                    padding: 1.7rem 1.8rem !important;
                }
            }

            .contents {
                width: 40%;
                margin: 0 4rem 0 0;
            }
        }
    }
}