* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-ms-track {
  background-color: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: #333333;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}




