* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-ms-track {
  background-color: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: #333333;
}

body::-webkit-scrollbar-track {
  background-color: #F9F7F1;
}
.dark_bg_start {
  animation: animation_dark_bg 0.6s ease forwards;
}

@keyframes animation_dark_bg {
  from {
    background-color: #F9F7F1;
  }
  to {
    background-color: #1c1c1c
  }
}

.light_bg {
  animation: animation_light_bg 0.6s ease forwards;
}

@keyframes animation_light_bg {
  from {
    background-color: #1c1c1c;
  }
  to {
    background-color: #F9F7F1
  }
}

.red_bg {
  animation: animation_red_bg 0.6s ease forwards;
}

@keyframes animation_red_bg {
  from {
    background-color: red;
  }
  to {
    background-color: red
  }
}


.light_text_start {
  color: #F9F7F1;
}

