.container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    max-width: 1240px;
    margin: 8.3rem auto 0rem auto;

    .box_navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .list_themes {
            display: flex;
            align-items: center;
            list-style: none;
            transition: all 0.3s ease;

            .text {
                font-size: 1.3rem;
                margin-right: 1.4rem;
                transition: all 0.3s ease;
                color: #1c1c1ca1;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                &.active {
                    color: #DDA827;
                    text-decoration: underline;
                }
            }
        }

        .search_container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .btn {
                font-family: "Archivo", sans-serif;
                font-weight: 500;
                padding: 0.5rem 1.3rem 0.5rem 2.5rem;
                border-radius: 7px;
                border: 2px solid #DDA827;
                outline: none;
                font-weight: 400;
                font-size: 1.1rem;
                color: #1c1c1ce1;

                &::placeholder {
                    font-size: 1.1rem;
                    color: #1c1c1cb9;
                }
            }

            .searchIcon {
                position: absolute;
                top: 56%;
                font-size: 1.6rem;
                color: #1c1c1cb9;
                left: 10px;
                transform: translateY(-50%);
            }
        }

    }
}

@media screen and (max-width: 757px) {
    .container {
        margin: 6.2rem auto 0rem auto;

        .box_navbar {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;


            .list_themes {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;

                .text {
                    font-size: 1.28rem;
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .search_container {
            margin-top: 0.7rem;

            .btn {
                font-size: 1rem !important;
            }
        }
    }
}

@media screen and (min-width: 758px) and (max-width: 894px) {
    .container {
        margin: 7rem auto 0rem auto;

        .box_navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;



            .list_themes {
                margin-top: 0.4rem;


                .text {
                    font-size: 1.2rem;
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .search_container {


            .btn {
                font-size: 1rem !important;
            }
        }
    }
}

@media screen and (min-width: 895px) and (max-width: 1023px) {
    .container {
        margin: 6.8rem auto 0rem auto !important;
    }
}