.container {
    background-color: #1c1c1c;
    color: #fff;
    font-family:
        'Darker Grotesque',
        -apple-system,
        Roboto,
        Arial,
        sans-serif;

    .box_footer {
        padding: 5rem 0rem;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .box_information {
            display: flex;
            justify-content: center;

            .box_logo {
                .logo {
                    font-size: 3.2rem;
                }
            }

            .box_links {
                margin-left: 5rem;

                li {
                    margin-top: 0.2rem;
                    font-size: 2.9rem;
                    list-style: none;
                }
            }
        }

        .box_contact {
            display: flex;
            align-items: last baseline;
            justify-content: space-between;
            flex-direction: column;
            .box_email {

                .title {
                    font-size: 4rem;
                    line-height: 3.5rem;
                }

                .subtitle {
                    margin-top: 1.2rem;
                    font-size: 1.5rem;
                }
            }

            .social_media {
                margin-top: 9rem;
                .text_follow {
                    font-size: 1.2rem;
                }
            }
        }
    }
}