.container {
  max-width: 1180px;
  margin: 12.2rem auto 19.5rem auto;
  font-family:
    'Darker Grotesque',
    -apple-system,
    Roboto,
    Arial,
    sans-serif;
  color: #1C1C1C;

  .box_price {
    display: flex;
    align-items: center;
    justify-content: center;

    .box_text {
      max-width: 980px;
      text-align: center;

      .title {
        font-size: 4.5rem;
        line-height: 4.5rem;
      }

      .subtitle {
        font-size: 1.5rem;

      }

      .email {
        margin: 2rem 0rem 5.5rem 0rem;
        font-size: 1.5rem;
      }

      .box_icons {
        p {
          font-size: 1.5rem;
        }

        div {
          padding: 0.4rem 0.6rem 0.3rem 0.6rem;
          margin: 0.8rem 0.3rem 0 0.3rem;
          display: inline-block;
          background-color: #1C1C1C;
          transition: all 0.4s ease;

          &:hover {
            background-color: #FEC628;
            transform: scale(1.1);
          }

          .icon {
            padding: 0.1rem 0.2rem;
            color: #F9F7F1;
            font-size: 2rem;
          }
        }
      }
    }

  }
}