.container {
  max-width: 1180px;
  margin: 17.2rem auto 16.5rem auto;
  font-family:
    'Darker Grotesque',
    -apple-system,
    Roboto,
    Arial,
    sans-serif;
  color: #1C1C1C;

  .box_price {
    display: flex;
    align-items: center;
    justify-content: center;

    .box_text {
      padding: 0 2rem;
      max-width: 980px;
      text-align: center;

      .title {
        font-size: 4rem;
        line-height: 4.5rem;
        
      }

      .subtitle {
        font-size: 1.3rem;
      }

      .box_icons {
        .tile {
          margin-top: 2.5rem;
          font-size: 1.5rem;
        }

        div {
          padding: 0.4rem 0.6rem 0.3rem 0.6rem;
          margin: 0.8rem 0.3rem 0 0.3rem;
          display: inline-block;
          background-color: #1C1C1C;
          transition: all 0.4s ease;

          &:hover {
            background-color: #FEC628;
            transform: scale(1.1);
          }

          .icon {
            padding: 0.1rem 0.2rem;
            color: #F9F7F1;
            font-size: 2rem;
          }
        }
      }
    }

  }
}

@media (max-width: 1006px) {
  .title {
    font-size: 4rem!important;
    line-height: 4rem!important;
  }

  .subtitle {
    display: none;
  }
}