.container {
    margin-top: 3rem;
    border-radius: 15px;
    transition: all 0.4s ease;
    .texts_box {
        width: 96%;

        .paragraph {
            font-size: 1.1rem;
            line-height: 1.5rem;
            font-weight: 400;
        }
    }
}