.container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    max-width: 1340px;
    margin: 7rem auto 14rem auto;

    .box_title {
        text-align: center;

        .subtitle {
            display: inline;
            font-size: 0.9rem;
            text-transform: uppercase;
            padding-bottom: 0.1rem;
            font-weight: 300;
            text-align: center;
            border-bottom: 2px solid #DDA827;
        }

        .title {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 500;
            margin-top: 0.5rem;
        }

    }

    .about {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .box {
            border: 1px solid #1c1c1c36;
            border-radius: 20px;
            padding: 2rem;
            margin: 0 1.5rem;
            height: 420px;
            width: 400px;

            .icon {
                border-radius: 12px;
                background-color: #DDA827;
                padding: 0.5rem 0.7rem;
                color: #fff;
                font-size: 3rem;
                font-weight: 100;
                margin-bottom: 1.2rem;
            }

            .title {
                color: #1c1c1c;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 0.9rem;
            }

            .paragraph {
                font-size: 1.1rem;
                font-weight: 300;
                line-height: 1.5rem;
            }
        }

    }
}