.container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    max-width: 1340px;
    margin: 7rem auto 5rem auto;
    padding: 0 2rem;

    .box_title {
        text-align: center;

        .subtitle {
            display: inline;
            font-size: 1rem;
            text-transform: uppercase;
            padding-bottom: 0.1rem;
            font-weight: 400;
            text-align: center;
            border-bottom: 2px solid #DDA827;
        }

        .title {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 500;
            margin-top: 0.5rem;
        }

    }

    .about {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .box {
            border: 1px solid #1c1c1c36;
            border-radius: 20px;
            padding: 2rem;
            margin: 0 1.5rem;
            height: 355px;
            width: 400px;

            .icon {
                border-radius: 12px;
                background-color: #DDA827;
                padding: 0.5rem 0.7rem;
                color: #fff;
                font-size: 3.3rem;
                font-weight: 100;
                margin-bottom: 1.2rem;
            }

            .title {
                color: #1c1c1c;
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 0.9rem;
            }

            .paragraph {
                font-size: 1.1rem;
                font-weight: 300;
                line-height: 1.5rem;
            }
        }

    }
}

@media screen and (min-width: 954px) and (max-width: 1244px) {
    .container {
        .box_title {
            .subtitle {
                font-size: 0.9rem;
            }

            .title {
                font-size: 2.4rem;
            }
        }

        .about {
            margin-top: 3.5rem;

            .box {
                height: 400px;
                width: 370px !important;
                margin: 0.5rem;

                .title {
                    font-size: 1.7rem;
                }

                .icon {
                    font-size: 3.3rem;
                }

                .paragraph {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 953px) {
    .container {
        .box_title {
            .subtitle {
                font-size: 0.8rem;
            }

            .title {
                font-size: 2.2rem;
            }
        }

        .about {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .box {
                margin-bottom: 2rem;
                height: 280px;
                width: 550px;

                .title {
                    font-size: 1.6rem;
                }

                .icon {
                    font-size: 3rem;
                }

                .paragraph {
                    font-size: 1rem;
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .container {

        .box_title {
            .subtitle {
                font-size: 0.8rem;
            }

            .title {
                font-size: 2.2rem;
            }
        }

        .about {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .box {
                margin-bottom: 2rem;
                height: 365px;
                width: auto;

                .title {
                    font-size: 1.6rem;
                }

                .icon {
                    font-size: 3rem;
                }

                .paragraph {
                    font-size: 1rem;
                }
            }
        }
    }
}