.link {
    color: #1c1c1cc4;
    overflow: hidden;
    position: relative;
    transition: color 0.3s ease;

    &::after,
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 1px;
        background-color: #DDA827;
        transition: width 0.5s ease, right 8s ease 1.5s;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }

    &:hover {
        color: #DDA827;
    }
}



.routes {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    max-width: 1220px;
    background-color: #F9F7F1;
    margin: 7.2rem auto 0 auto;
    font-size: 1rem;
    padding: 0 2rem;
    transition: all 0.3s ease;
    color: #1c1c1ca1;
    cursor: pointer;
    padding: 0.5rem 0rem;
}

.content_container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    max-width: 880px;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    margin: 4rem auto 4.5rem auto;

    .texts_box {
        width: 100%;

        .subtitle {
            font-size: 1rem;

            font-weight: 400;
        }

        .title {
            margin: 1rem 0 1rem 0;
            padding-right: 4rem;
            font-size: 2rem;

            line-height: 2.4rem;
            font-weight: 500;
            width: 100%;
            transition: all 0.3s ease;
            overflow: hidden;
            position: relative;
        }

        .date {
            font-size: 1rem;
            font-weight: 400;

        }
    }

    .img_box {
        width: 100%;

        .img {
            border-radius: 7px;
            width: 100%;
            height: 290px;
        }
    }
}

.texts_container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;

    .title_post {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.4rem;
        margin-top: 1rem;
    }

    .paragraph_post {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .list_box {
        padding-left: 2rem;

        li {
            margin: 0.1rem 0 0.1rem 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.4rem;

            span {
                font-weight: 700;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .routes {
        font-family: "Archivo", sans-serif;
        font-weight: 400;
        max-width: 1240px;
        background-color: #F9F7F1;
        margin: 5.3rem auto 0 auto;
        font-size: 1rem;
        transition: all 0.3s ease;
        color: #1c1c1ca1;
        cursor: pointer;
        padding: 0.5rem 2rem;
    }

    .content_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 2rem auto 1.5rem auto;

        .texts_box {
            .subtitle {
                font-size: 1rem;
                font-weight: 400;
            }

            .title {
                margin: 0.7rem 0 0.8rem 0;
                padding-right: 1rem;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 500;
                width: 100%;
            }

            .date {
                margin-bottom: 2rem;
            }
        }
    }

    .texts_container {
        .title_post {
            font-size: 1.3rem;
            margin-top: 1rem;
        }

        .paragraph_post {
            font-size: 0.9rem;
            margin-bottom: 1rem !important;
        }

        .list_box {
            padding-left: 2rem;


            li {
                margin: 0.1rem 0 0.1rem 0;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 1.4rem;

                span {
                    font-weight: 700;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .routes {
        font-family: "Archivo", sans-serif;
        font-weight: 400;
        max-width: 1240px;
        background-color: #F9F7F1;
        margin: 5.3rem auto 0 auto;
        font-size: 1rem;
        transition: all 0.3s ease;
        color: #1c1c1ca1;
        cursor: pointer;
        padding: 0.5rem 2rem;
    }

    .content_container {
        .texts_box {
            .title {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .routes {
        padding: 0.5rem 2rem;
    }
}