.container {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    max-width: 1280px;
    margin: 4rem auto 0 auto;
    padding: 0 2rem;

    .title {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .article_box {
            width: 100%;

            &:hover {
                .img {
                    transform: scale(1.1);
                    transform: translateY(-5px);
                }
            }

            .img {
                width: 93%;
                height: 230px;
                border-radius: 7px;
                object-fit: cover;
                transition: all 0.3s ease;
            }

            .subtitle {
                padding: 0.8rem 0 0.5rem 0;
                font-size: 1rem;
                font-weight: 400;
                color: #DDA827;

            }

            .title {
                margin: 0rem 0 0.8rem 0;
                color: #1c1c1c;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.8rem;
                font-weight: 500;
                width: 93%;
                transition: all 0.3s ease;
            }

            .date_paragraph {
                font-size: 1rem;
                color: #6B7280;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 3rem auto 0 auto;

        .title {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        .content {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            .article_box {
                margin-bottom: 2rem;

                .img {
                    width: 100% !important;
                }

                .subtitle {
                    padding: 0.9rem 0 0.5rem 0;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #DDA827;

                }

                .title {
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                    width: 100% !important;
                    margin: 0rem 0 0.8rem 0;
                }

                .date_paragraph {
                    font-size: 1rem;
                    color: #6B7280;
                    font-weight: 400;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        margin: 3rem auto 1rem auto !important;

        .title {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        .content {

            .article_box {
                margin-bottom: 2rem;

                .img {
                    width: 93% !important;
                }

                .subtitle {
                    padding: 0.9rem 0 0.5rem 0;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #DDA827;

                }

                .title {
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                    width: 93% !important;
                    margin: 0rem 0 0.8rem 0;
                }

                .date_paragraph {
                    font-size: 1rem;
                    color: #6B7280;
                    font-weight: 400;
                }
            }
        }
    }
}